@tailwind components;
@layer components {
    .btn-wrapper {
        @apply inline-flex items-center justify-center
            text-base font-semibold font-openSans
            min-w-[70px] py-[13px] px-[28px] bg-transparent
            border-[1px] border-solid border-transparent rounded-[10px]
            cursor-pointer select-none;
    }

    .btn-wrapper + .btn-wrapper {
        @apply ml-2;
    }

    .btn-primary-green {
        @apply text-white dark:text-black dark:bg-primary-green bg-primary-green border-primary-green
            hover:text-primary-green hover:bg-white;
    }

    .btn-primary-orange {
        @apply text-white dark:text-black dark:bg-primary-orange bg-primary-orange border-primary-orange
            hover:text-primary-orange hover:bg-white;
    }

    .btn-outline {
        @apply text-primary-green dark:text-primary-orange border-current
                hover:bg-primary-bg dark:hover:bg-dark-bg
                hover:border-current hover:opacity-80;
    }

    .btn-small {
        @apply py-[10px] px-[20px];
    }

    .btn-large {
        @apply text-xl min-w-[140px] py-[15px] px-[22px];
    }

    .btn-full-width {
        @apply w-full;
    }

    .btn-disabled {
        @apply text-darkLightText bg-gray-400 border-gray-400 cursor-default;
    }
}
