@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
@import './GridSytem.scss';

:root {
    --font-family: 'Open Sans', sans-serif;

    --text-color: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
    color: var(--text-color);
    overflow: overlay;
    cursor: default;
}

// custom tags
button,
input,
[tabindex] {
    outline: none;
    background-color: unset;
    border: none;
    cursor: pointer;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

ul {
    list-style: none;
}
