@tailwind base;
@tailwind components;

@layer base {
    body {
        @apply font-openSans text-darkText cursor-default;
    }

    h1 {
        @apply text-5xl;
    }

    h2 {
        @apply text-4xl;
    }

    h3 {
        @apply text-3xl;
    }

    h4 {
        @apply text-2xl;
    }

    h5 {
        @apply text-xl;
    }

    h6 {
        @apply text-lg;
    }

    button,
    input {
        @apply bg-none border-none outline-none cursor-pointer;
    }

    a {
        @apply text-darkText no-underline;
    }

    ul {
        @apply list-none;
    }
}

@layer components {
    /* page wrapper */
    .section-wrapper {
        @apply mt-20 mx-5;
    }

    /* NAV ITEM */
    .nav {
        @apply inline-block text-base font-semibold uppercase py-5 px-4 
        relative overflow-hidden hover:text-primary-orange;
    }
    .nav-after {
        @apply after:content-[''] after:absolute after:bottom-4 after:left-4 after:right-4 
        after:h-[2px] after:bg-primary-green
        after:transition-all after:ease-linear after:translate-x-[-150%];
    }
    .nav-active {
        @apply text-primary-orange after:h-[2px] after:translate-x-0;
    }

    /* btn */
    .btn-wrapper {
        @apply inline-flex items-center justify-center
            text-base font-semibold font-openSans
            min-w-[70px] py-[13px] px-[28px] bg-transparent
            border-[1px] border-solid border-transparent rounded-[10px]
            cursor-pointer select-none;
    }

    .btn-wrapper + .btn-wrapper {
        @apply ml-2;
    }

    /* .btn-rounded {
        @apply;
    } */

    .btn-primary-green {
        @apply text-white bg-primary-green border-primary-green
            hover:text-primary-green hover:bg-white;
    }

    .btn-primary-orange {
        @apply text-white bg-primary-orange border-primary-orange
            hover:text-primary-orange hover:bg-white;
    }

    .btn-outline {
        @apply text-primary-green border-current
                hover:border-current hover:bg-primary-bg hover:opacity-80;
    }

    .btn-small {
        @apply py-[10px] px-[20px];
    }

    .btn-large {
        @apply text-xl min-w-[140px] py-[15px] px-[22px];
    }

    .btn-full-width {
        @apply w-full;
    }

    /* form */
    .form-label {
        @apply font-semibold;
    }

    .from-error {
        @apply text-red-400;
    }
}

.stroke {
    -webkit-text-fill-color: #f6f6f6;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #115e5c;
}
