@tailwind base;
@tailwind components;

@layer base {
    body {
        @apply font-openSans text-darkText cursor-default;
    }

    h1 {
        @apply text-5xl;
    }

    h2 {
        @apply text-4xl;
    }

    h3 {
        @apply text-3xl;
    }

    h4 {
        @apply text-2xl;
    }

    h5 {
        @apply text-xl;
    }

    h6 {
        @apply text-lg;
    }

    button,
    input {
        @apply bg-none border-none outline-none cursor-pointer;
    }

    a {
        @apply text-darkText no-underline;
    }

    ul {
        @apply list-none;
    }
}

@layer components {
    /* page wrapper */
    .section-wrapper {
        @apply mt-20 mx-5;
    }

    /* NAV ITEM */
    .nav {
        @apply inline-block text-base font-semibold uppercase py-5 px-4 
        relative overflow-hidden hover:text-primary-orange;
    }
    .nav-after {
        @apply after:content-[''] after:absolute after:bottom-4 after:left-4 after:right-4 
        after:h-[2px] after:bg-primary-green
        after:transition-all after:ease-linear after:translate-x-[-150%];
    }
    .nav-active {
        @apply text-primary-orange after:h-[2px] after:translate-x-0;
    }

    /* btn */
    .btn-full-width {
        @apply flex items-center justify-center w-full border-2 border-solid rounded-xl;
    }

    .btn-primary {
        @apply bg-primary-green;
    }

    /* form */
    .form-label {
        @apply font-semibold;
    }

    .from-error {
        @apply text-red-400;
    }
}

.stroke {
    -webkit-text-fill-color: #f6f6f6;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #115e5c;
}
